# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc
*.pyd

# Environments
venv/
**/venv/
.env
*.env

# Flask instance folder
instance/
**/instance/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Databases
*.sqlite
*.sqlite3
*.db

# Keys / credentials
vision-key.json
**/vision-key.json
*vision-key.json*
__MACOSX/
